@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700&display=swap');



:root
{
 --backcolor:#1e191a;
 --bordercolor:#bad37c;
 --inputheight:6rem;
 --inputwidth:75%;
/*  --backcolor:#25181f; */
 


}

body
{
background-color: blue;
display: flex;
justify-content: center;
background-color: var(--backcolor);

}




#container
{
display: flex;
flex-direction: column;
/* background-color: var(--backcolor); */
justify-content: center;
width: 100vw;
height: 100fr;
/* border: 1mm solid white; */
}

#container >input 
{

 background-color:white;
 margin-left: auto;
 margin-right: auto;
 border: 0.14em solid var(--bordercolor);
 border-radius: 0.5em;
 margin-top:1.6vh;
 font-size: 3.4em;
 height: var(--inputheight);
 height: 1rem !important;
 padding-left: 1em;
 font-family: 'Roboto', sans-serif;
 color :black;
 font-weight: 100rem;

 padding-top: 6%;
 padding-bottom: 6%;
 

}

#logc
{
background-color: red;



}

#regbtn
{
    border :0;
 margin-top: 6vh;   
background-color:var(--bordercolor);
height: var(--inputheight);
height: 1rem !important;
width:75%;
margin-left: auto;
margin-right:auto;
font-size: 3.6em;
border-radius: 0.5em;
font-family: 'Roboto', sans-serif;
font-weight: 550;
color:#1e211f;

display: inline-block;

text-align: center !important;
vertical-align: middle;

padding-top: 1.5vh;
 padding-bottom: 4.5vh;
 

}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 3vh;
    width:70% ;
    margin-left: auto;
    margin-right: auto;
    margin-top:2em;
    color:#ddf7dc;
    font-size: 2.7em;
}

.separator::before, .separator::after {
    content: '';
    flex: 1;
     
    border-bottom: 2px solid white;
}

#regform
{

display: flex;
flex-direction: column;


}

#mediasign
{
    margin-top: 3vh;   
    background-color:transparent;
    height: var(--inputheight);
    height: 1rem !important;
   
    margin-left: auto;
    margin-right:auto;
    font-size: 2.7em;
    border-radius: 0.6em;
    border: 0.14em solid var(--bordercolor);
    color:#ddf7dc;

    font-family: 'Roboto', sans-serif;
    font-weight: 400;

    padding-top: 2vh;
 padding-bottom: 4.5vh;
 
    
}

#mediasign, #regbtn,#container >input
{
  width:var(--inputwidth);
  border-radius: 2rem;


}
